		body {
			color: #BBBBBB;
		}

		h1 {
			font-size: 34px;
		}

		h2 {
			font-size: 22px;
		}

		h3 {
			font-size: 18px;
		}

		h1, h2, h3, h4, h5, h6 {
			color: #BBBBBB;
			font-family: "Helvetica", "Arial", sans-serif;
			font-weight: normal;
		}

		li {
			margin-bottom: 5px;
		}

		a {
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		footer {
			padding: 10px;
			text-align: center;
			font-size: 0.65em;
			font-style: italic;
		}

		li {
			text-align: justify;
		}
