		blogtitle {
			font-size: 34px;
			font-family: "Helvetica", "Arial", sans-serif;
			font-weight: bold;
			font-style: normal;
			padding-bottom: 1em;
			display: block;
		}

		posttitle {
			font-size: 30px;
			font-family: "Helvetica", "Arial", sans-serif;
			font-weight: normal;
			font-style: normal;
			padding-bottom: 1em;
			display: block;
		}


		postdate {
			font-size: 22px;
			font-family: "Helvetica", "Arial", sans-serif;
			font-weight: normal;
			font-style: italic;
			padding-bottom: 1em;
			display: block;
		}

		postsynopsis {
			font-size: 20px;
			font-family: "Helvetica", "Arial", sans-serif;
			font-weight: bold;
			font-style: normal;
			padding-bottom: 1em;
			display: block;
		}

		post {
			font-size: 18px;
			font-family: "Helvetica", "Arial", sans-serif;
			font-weight: normal;
			font-style: normal;
			padding-bottom: 1em;
			display: block;
			text-align: justify;
		}

		quote {
			font-family: monospace;
			font-weight: normal;
			font-style: normal;
			display: block;
			padding-left: 10%;
			padding-right: 10%;
		}

		body {
			color: #414141;			/* Dark gray */
			background-color: #EEEEEE;	/* Lighter gray*/
			padding-right: 0%;
			padding-bottom: 3em;
		}

		h1 {
			font-size: 34px;
		}

		h2 {
			font-size: 22px;
		}

		h3 {
			font-size: 18px;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: "Helvetica", "Arial", sans-serif;
			font-weight: normal;
		}


		li {
			margin-bottom: 5px;
		}


		a {
			color: #0000B0;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}

		a:visited {
			color: hsl(240, 40%, 34.5%)
		}


		footer {
			padding: 10px;
			text-align: center;
			font-size: 0.65em;
			font-style: italic;
		}
